header{
    display: flex;
    gap: 50px;
    background-color: aliceblue;
}

.meu-cabecalho{
    
    width: 100%;
    padding: 20px;
}

p{
    color: #4F4F4F;
}

#fotoPerfil{
    background-image: url("abc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
    height: 200px;
    width: 250px;
}

#laulao{
    margin: 80px;
}

.pro{
    color: #4F4F4F;

}
.pra{
    margin: 10px;
    box-shadow: 5px 5px  grey;
    border-radius: 10px;
    background-color: #4d5157
    border: 2px solid black;
}